<div id="student-speaker-competition">
  <div class="background">
    <video autoplay loop="loop" id="video-background" width="100%">
      <source src="" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <div class="wrapper">
      <div class="hover">
        <h1>Student Speaker Competition 2016</h1>
        <p>TEDxYale 2016 will be held on April 9th, and we want to select a group of students to join our growing speaker list. In past years, our student speakers have given some of the most convincing and moving talks, so we're looking for people with a story to tell. <b>Please help us select our student speakers by voting in the competition!</b></p>
      </div>
    </div>
  </div>
  
  <div class="main wrapper">
    <h2>How it works</h2>
    <p>The competition is made up of three rounds. For the <strong>first round</strong> all applicants will come to perform the first 3 minutes of their TED talk in front of the TEDxYale team. For the <strong>second round</strong>, our team will select students with potential, and those will be asked to film themselves giving the full length talk. The TEDxYale team will then select the 8-10 best talks from the second round to move to the final round. The <strong>final round</strong> is filmed, and the talks will be uploaded to our websites for popular voting.</p>
    <!-- <h2>How it works</h2>
    <p>Nine incredible students have reached the final round of the competition, and we need your help in deciding who will speak on April 4th! Once you log in with facebook, you'll be given <b>10 votes to distribute however you want</b>. We encourage you not to give one person all your votes and to spend some time viewing all the talks. Happy voting!</p> -->
    <!-- <p><b>Voting will end at 11:59pm on Wednesday, March 18th.</b></p> -->
    
    <h2>FAQ</h2>

    <h3>How strict is the three minute time limit?</h3>
    <p>Your first round audition should provide us with a good idea for what you would like to talk about and how you are as a presenter. If for some reason you feel three minutes is not a sufficiently long period of time, we will not cut you off, but we would wonder why you weren’t able to summarize.</p>

    <h3>If I’m selected, what happens between now and the conference?</h3>
    <p>First, congratulations are in order! But second, we will provide speaker training opportunities with a collection of Yale School of Drama students, professors, and previous TED speakers. Our curators and speaker team will also work with you to refine the content of your talk.</p>

    <h3>Is a PowerPoint or visual aid required?</h3>
    <p>No, visual aid is often constructive, but it is by no means mandatory. We encourage it for talks with significant amounts of factual content or more science-oriented presentations, but if you can pull it off without it, all power to you.</p>

    <h3>Can I apply as a joint talk with another student?</h3>
    <p>Absolutely, we’ve had joint talks in the past. Collaborating on a TED talk can be both a great experience for you and a great result for the audience.</p>

     <!-- Apply and nominate buttons -->
    <div class="buttons">
      <button data-link="become_a_speaker" data-show=".speaker-field" data-hide=".nominate-field">Apply to speak</button>
      <!-- <button data-link="nominate_a_friend" data-show=".nominate-field" data-hide=".speaker-field">Nominate a friend</button> -->
    </div>
    
  </div>
  
  <div class="message" style="display: none">
    <div class="wrapper"></div>
  </div>
  
  <div class="secondary" hidden>
  
    <div class="comp-application wrapper">  
      <%= form_for @application, remote: true, format: :json do |f| %>
        <%= f.hidden_field :application_cycle_id, value: @cycle, id: "cycle-id" %>
        
        <p>* Required fields</p>

        <div class="form-field">
          <label>Full name *</label>
          <%= f.text_field :name %>
        </div>
      
        <div class="form-field">
          <label>Email address *</label>
          <%= f.text_field :email %>
        </div>
      
        <div class="speaker-field">
          <div class="form-field">
            <label>Yale affiliation (college if applicable) *</label>
            <%= f.text_field :affiliation %>
          </div>
        
          <div class="form-field">
            <label>Graduation year *</label>
            <%= f.text_field :year %>
          </div>
        </div>

        <div class="form-field">
          <div class="speaker-field">
            <label>Title of your TED Talk *</label>
            <%= f.text_area :title %>  
          </div>
        </div>

        <div class="form-field">
          <div class="speaker-field">
            <label>Please give us a brief bio of yourself (max 100 words) *</label>
            <%= f.text_area :bio %>  
          </div>
        </div>

        <div class="form-field">
          <div class="speaker-field">
            <label>Please provide us with a description of your talk (max 300 words) *</label>
            <%= f.text_area :description %>  
          </div>
        </div>

        <div class="form-field">
          <div class="speaker-field">
            <label>What makes you qualified to give this talk? Why do you want to give this talk? (max 150 words) *</label>
            <%= f.text_area :qualification %>  
          </div>
        </div>

        <div class="form-field">
          <div class="speaker-field">
            <label>What is your favorite TED talk? Why? (max 200 words) *</label>
            <%= f.text_area :favorite %>  
          </div>
        </div>
      
        <div class="form-field">
          <div class="nominate-field">
            <label>Briefly describe why you are nominating this person. *</label>
            <%= f.text_area :nomination %>
          </div>
        </div>
      
        <div class="form-field">
          <div class="speaker-field">
            <%= f.submit "Apply to speak" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  applicationCycleIds = [<%= @cycle.to_json %>, <%= @nominate_cycle.to_json %>]
</script>