.wrapper
  = render :partial => '/admin/menu'

  .admin_container.applications
    %table
      %tr
        %td App ID
        %td= @application.id
      %tr
        %td Name
        %td= @application.name
      %tr
        %td Email
        %td= @application.email
      %tr
        %td Affiliation
        %td= @application.affiliation
      %tr
        %td Year
        %td= @application.year
      %tr
        %td Title of your TED Talk
        %td= @application.title
      %tr
        %td Please give us a brief bio of yourself 
        %td= @application.bio
      %tr
        %td Please provide us with a description of your talk
        %td= @application.description
      %tr
        %td What makes you qualified to give this talk? Why do you want to give this talk? 
        %td= @application.qualification
      %tr
        %td What is your favorite TED talk? Why?
        %td= @application.favorite
      %tr
        %td Submitted
        %td= @application.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%c")
    
    %h2 Questions
    %table
      - @application.application_answers.each do |answer|
        %tr
          %td= answer.application_question.content
          %td= answer.application_question.application_role.try(:name)
          %td= answer.content